@import "partials/variables.scss";  
@import "import/header.scss";

 
*{ 
 margin: 0;
 padding: 0;
}
a{ 
    text-decoration: none;
    color: black;
}
body{
    background-color: $xlight-grey;
    height: 2000px;
    .main-container{
        .main{ 
            padding-top: $header-height+15px;
        }
    }
}