@import "partials/variables";  
@import "partials/header.scss";
@import "partials/info.scss";
@import "partials/news.scss";
@import "partials/prevent.scss";
@import "partials/question.scss";
@import "partials/footer.scss";

 
*{ 
 margin: 0;
 padding: 0;
}
a{ 
    text-decoration: none;
    color: black;
}
body{
    background-color: $xlight-grey;
    min-width: 550px;
    height: 2000px;
    .sections{
        #info{ 
            padding-top: $header-height+15px;
        }
    }
}
@include responsive;