header {
  width: 100%;
  padding: 25px 5px 25px 5px;
  height: auto;
  max-height: 150px;
  background-color: white;
  border-bottom: solid 0.1em #ececec;
  -webkit-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
  -moz-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
  -o-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  position: fixed;
  font-family: "Lato",sans-serif;
  font-size: 1em; }
  header .container {
    display: flex;
    align-items: center;
    flex-direction: row; }
    header .container .logo {
      flex-basis: 20%;
      padding-left: 10px;
      padding-right: 10px; }
      header .container .logo a {
        text-decoration: none;
        color: #33866c;
        font-size: 1.4em;
        font-weight: 500;
        cursor: default;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      header .container .logo p {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        color: #727473;
        font-size: 0.9em;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
    header .container nav {
      flex-basis: 80%; }
      header .container nav .nav_list {
        display: flex;
        padding-right: 25px;
        padding-left: 25px;
        justify-content: flex-end; }
        header .container nav .nav_list li {
          padding: 12px;
          list-style: none;
          font-size: 1.2em;
          border-inline-start: solid 1px #ececec; }
          header .container nav .nav_list li:last-child {
            border-right: solid 1px #ececec;
            margin-right: 7px; }
          header .container nav .nav_list li a {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            header .container nav .nav_list li a:hover {
              color: rgba(39, 39, 39, 0.568);
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              transform: scale(1);
              padding-left: 10px;
              padding-right: 10px; }

@media (max-width: 800px) {
  body {
    background-color: rgba(152, 251, 152, 0.137); }

  header .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    header .container nav .nav_list li {
      padding: 12px;
      list-style: none;
      font-size: 1em;
      border-inline-start: solid 1px #ececec; }
    header .container .logo p {
      font-size: 0.8em; }
    header .container .logo a {
      font-size: 1.6em; }

  #info .container .card {
    display: flex;
    align-items: center;
    flex-direction: column; }

  #prevent .no-box-container .card .card-text {
    font-size: 0.6em; }

  #prevent-text .container .card .card-text {
    font-size: 1em;
    padding: 50px 25px 50px 25px; } }
@media (max-width: 1233px) {
  #question .container .card .card-img {
    display: none; }
  #question .container .card .card-text .question-container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #question .container .card .card-text .question-container .q-container {
      min-height: 200px;
      margin: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 100%; }
      #question .container .card .card-text .question-container .q-container .item {
        list-style: none;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #ececec;
        cursor: pointer;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #question .container .card .card-text .question-container .q-container .item:hover {
          padding-left: 20px;
          color: #e45253;
          border-bottom: solid 1.5px #e45253; } }
#info {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  #info .container {
    width: 75%;
    padding: 25px;
    background-color: white;
    font-family: "Lato",sans-serif;
    -webkit-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    -moz-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    -o-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    #info .container .card {
      display: flex;
      align-items: center;
      flex-direction: row; }
      #info .container .card .card-img {
        margin: 10px; }
        #info .container .card .card-img img {
          width: auto;
          height: auto;
          max-width: 350px;
          max-height: 260px; }
      #info .container .card .card-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-bottom: 30px; }
        #info .container .card .card-text span {
          color: #33866c;
          font-weight: bold; }
        #info .container .card .card-text h1 {
          align-items: center;
          padding: 50px;
          font-size: 2.5em; }
        #info .container .card .card-text p {
          line-height: 25px;
          padding-bottom: 20px; }

@media (max-width: 800px) {
  body {
    background-color: rgba(152, 251, 152, 0.137); }

  header .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    header .container nav .nav_list li {
      padding: 12px;
      list-style: none;
      font-size: 1em;
      border-inline-start: solid 1px #ececec; }
    header .container .logo p {
      font-size: 0.8em; }
    header .container .logo a {
      font-size: 1.6em; }

  #info .container .card {
    display: flex;
    align-items: center;
    flex-direction: column; }

  #prevent .no-box-container .card .card-text {
    font-size: 0.6em; }

  #prevent-text .container .card .card-text {
    font-size: 1em;
    padding: 50px 25px 50px 25px; } }
@media (max-width: 1233px) {
  #question .container .card .card-img {
    display: none; }
  #question .container .card .card-text .question-container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #question .container .card .card-text .question-container .q-container {
      min-height: 200px;
      margin: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 100%; }
      #question .container .card .card-text .question-container .q-container .item {
        list-style: none;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #ececec;
        cursor: pointer;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #question .container .card .card-text .question-container .q-container .item:hover {
          padding-left: 20px;
          color: #e45253;
          border-bottom: solid 1.5px #e45253; } }
#prevent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px; }
  #prevent .no-box-container {
    width: 75%;
    padding: 25px;
    background-color: transparent;
    font-family: "Lato",sans-serif; }
    #prevent .no-box-container .card {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center; }
      #prevent .no-box-container .card .card-img {
        width: auto;
        height: auto;
        max-width: 440px;
        max-height: 290px; }
        #prevent .no-box-container .card .card-img g path {
          fill: #33866c; }
        #prevent .no-box-container .card .card-img g .corona {
          fill: #e45253; }
      #prevent .no-box-container .card .card-text span {
        color: #e45253;
        font-weight: bold; }
      #prevent .no-box-container .card .card-text h1 {
        align-items: center;
        color: #33866c;
        padding: 50px;
        font-size: 2.5em; }
      #prevent .no-box-container .card .card-text p {
        line-height: 25px;
        padding-bottom: 20px; }

#prevent-text {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px; }
  #prevent-text .container {
    width: 75%;
    padding: 2px 25px 2px 25px;
    background-color: white;
    font-family: "Lato",sans-serif;
    -webkit-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    -moz-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    -o-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    #prevent-text .container .card .card-text {
      display: flex;
      align-items: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 50px 75px 50px 75px;
      font-size: 1.2em;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #prevent-text .container .card .card-text .blue {
        color: #0b93fb; }
      #prevent-text .container .card .card-text .red {
        color: #e45253; }
      #prevent-text .container .card .card-text .green {
        color: #33866c; }
      #prevent-text .container .card .card-text p {
        padding-bottom: 30px; }

@media (max-width: 800px) {
  body {
    background-color: rgba(152, 251, 152, 0.137); }

  header .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    header .container nav .nav_list li {
      padding: 12px;
      list-style: none;
      font-size: 1em;
      border-inline-start: solid 1px #ececec; }
    header .container .logo p {
      font-size: 0.8em; }
    header .container .logo a {
      font-size: 1.6em; }

  #info .container .card {
    display: flex;
    align-items: center;
    flex-direction: column; }

  #prevent .no-box-container .card .card-text {
    font-size: 0.6em; }

  #prevent-text .container .card .card-text {
    font-size: 1em;
    padding: 50px 25px 50px 25px; } }
@media (max-width: 1233px) {
  #question .container .card .card-img {
    display: none; }
  #question .container .card .card-text .question-container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #question .container .card .card-text .question-container .q-container {
      min-height: 200px;
      margin: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 100%; }
      #question .container .card .card-text .question-container .q-container .item {
        list-style: none;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #ececec;
        cursor: pointer;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #question .container .card .card-text .question-container .q-container .item:hover {
          padding-left: 20px;
          color: #e45253;
          border-bottom: solid 1.5px #e45253; } }
#question {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  #question .container {
    width: 75%;
    padding: 25px;
    background-color: white;
    font-family: "Lato",sans-serif;
    -webkit-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    -moz-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    -o-box-shadows: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    #question .container .card {
      display: flex;
      align-items: center;
      flex-direction: row; }
      #question .container .card .card-img {
        margin: 25px; }
        #question .container .card .card-img img {
          width: auto;
          height: auto;
          max-width: 350px;
          max-height: 260px; }
      #question .container .card .card-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-bottom: 30px; }
        #question .container .card .card-text span {
          color: #33866c;
          font-weight: bold; }
        #question .container .card .card-text h1 {
          align-items: center;
          padding: 50px;
          font-size: 2.5em; }
        #question .container .card .card-text .question-container {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%;
          line-height: 25px; }
          #question .container .card .card-text .question-container .q-container {
            min-height: 200px;
            margin: 15px;
            margin-bottom: 0;
            width: 42%; }
            #question .container .card .card-text .question-container .q-container .q-item {
              list-style: none;
              height: 50px;
              margin: 10px 10px 10px 10px;
              border-bottom: solid 1px #ececec;
              cursor: pointer;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              transition: all 0.4s ease; }
              #question .container .card .card-text .question-container .q-container .q-item .collapse {
                position: absolute;
                display: none; }
              #question .container .card .card-text .question-container .q-container .q-item:hover {
                padding-left: 20px;
                color: #e45253;
                border-bottom: solid 1.5px #e45253; }
                #question .container .card .card-text .question-container .q-container .q-item:hover .q-answer {
                  width: auto;
                  max-width: 220px;
                  min-height: 40px;
                  margin-top: 15px;
                  margin-left: -30px;
                  color: #727473;
                  -webkit-box-shadows: 0 0 20px rgba(48, 46, 77, 0.1);
                  -moz-box-shadows: 0 0 20px rgba(48, 46, 77, 0.1);
                  -o-box-shadows: 0 0 20px rgba(48, 46, 77, 0.1);
                  box-shadow: 0 0 20px rgba(48, 46, 77, 0.1);
                  background-color: rgba(242, 247, 246, 0.95);
                  overflow: hidden; }
                  #question .container .card .card-text .question-container .q-container .q-item:hover .q-answer:hover {
                    display: none; }
                #question .container .card .card-text .question-container .q-container .q-item:hover .collapse {
                  display: none; }
                #question .container .card .card-text .question-container .q-container .q-item:hover .visible {
                  display: block; }

@media (max-width: 800px) {
  body {
    background-color: rgba(152, 251, 152, 0.137); }

  header .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    header .container nav .nav_list li {
      padding: 12px;
      list-style: none;
      font-size: 1em;
      border-inline-start: solid 1px #ececec; }
    header .container .logo p {
      font-size: 0.8em; }
    header .container .logo a {
      font-size: 1.6em; }

  #info .container .card {
    display: flex;
    align-items: center;
    flex-direction: column; }

  #prevent .no-box-container .card .card-text {
    font-size: 0.6em; }

  #prevent-text .container .card .card-text {
    font-size: 1em;
    padding: 50px 25px 50px 25px; } }
@media (max-width: 1233px) {
  #question .container .card .card-img {
    display: none; }
  #question .container .card .card-text .question-container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #question .container .card .card-text .question-container .q-container {
      min-height: 200px;
      margin: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 100%; }
      #question .container .card .card-text .question-container .q-container .item {
        list-style: none;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #ececec;
        cursor: pointer;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #question .container .card .card-text .question-container .q-container .item:hover {
          padding-left: 20px;
          color: #e45253;
          border-bottom: solid 1.5px #e45253; } }
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: #e8f1ef;
  height: 2000px; }
  body .sections #info {
    padding-top: 165px; }

@media (max-width: 800px) {
  body {
    background-color: rgba(152, 251, 152, 0.137); }

  header .container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    header .container nav .nav_list li {
      padding: 12px;
      list-style: none;
      font-size: 1em;
      border-inline-start: solid 1px #ececec; }
    header .container .logo p {
      font-size: 0.8em; }
    header .container .logo a {
      font-size: 1.6em; }

  #info .container .card {
    display: flex;
    align-items: center;
    flex-direction: column; }

  #prevent .no-box-container .card .card-text {
    font-size: 0.6em; }

  #prevent-text .container .card .card-text {
    font-size: 1em;
    padding: 50px 25px 50px 25px; } }
@media (max-width: 1233px) {
  #question .container .card .card-img {
    display: none; }
  #question .container .card .card-text .question-container {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #question .container .card .card-text .question-container .q-container {
      min-height: 200px;
      margin: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 100%; }
      #question .container .card .card-text .question-container .q-container .item {
        list-style: none;
        height: 50px;
        padding: 10px 10px 10px 10px;
        border-bottom: solid 1px #ececec;
        cursor: pointer;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #question .container .card .card-text .question-container .q-container .item:hover {
          padding-left: 20px;
          color: #e45253;
          border-bottom: solid 1.5px #e45253; } }

/*# sourceMappingURL=style.css.map */
