@import "partials/variables";  
@import "partials/header.scss";
@import "partials/info.scss";

 
*{ 
 margin: 0;
 padding: 0;
}
a{ 
    text-decoration: none;
    color: black;
}
body{
    background-color: $xlight-grey;
    height: 2000px;
    .sections{
        #info{ 
            padding-top: $header-height+15px;
        }
    }
}