@mixin shadow-dark{
    -webkit-box-shadows: 0 0 20px rgba(48,46,77,0.15);
    -moz-box-shadows: 0 0 20px rgba(48,46,77,0.15);
    -o-box-shadows:0 0 20px rgba(48,46,77,0.15);
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

@mixin shadow-light{
    -webkit-box-shadows: 0 0 20px rgba(48,46,77,0.1);
    -moz-box-shadows: 0 0 20px rgba(48,46,77,0.1);
    -o-box-shadows:0 0 20px rgba(48,46,77,0.1);
    box-shadow: 0 0 20px rgba(48,46,77,0.1);
}

@mixin flex($direction){
    display: flex;
    align-items: center; 
    flex-direction: $direction;
} 

@mixin transition($delay){
    -webkit-transition: all $delay+s ease;
    -moz-transition: all $delay+s ease;
    -o-transition: all $delay+s ease;
    transition: all $delay+s ease;
}

@mixin transform($scale){
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    transform: scale($scale);
    padding-left: 10px;
    padding-right: 10px;
} 
@mixin border-radius($radius){
    -webkit-border-radius : $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

