
//*** BEGIN Responsive ***//

@mixin responsive{
    @media (max-width: 800px) {
        @content; 
        body{
            background-color: rgba(152, 251, 152, 0.137);
        }



        //*** HEADER ***
        header .container { 
            @include flex(column);

            nav .nav_list li {
                padding: 12px;
                list-style: none;
                font-size: $size-medium;
                border-inline-start: solid 1px #ececec; }

            .logo{
                p{ 
                    font-size: $size-small;
                }
                a{
                    font-size: $size-xslarge;
                }
            }
        }
        
        
        //*** INFORMATION ***
        #info .container .card{
            @include  flex(column);
        }
        
        
        //*** PREVENT ***
        #prevent .no-box-container .card .card-text{
            font-size: $size-xsmall;
        }
        #prevent-text .container .card .card-text{
            font-size: $size-medium;
            padding: 50px 25px 50px 25px;
        }

 
    } 
    @media (max-width: 1280px) {
        @content; 




        

        //*** QUESTION ***   
        #question .container .card{
            .card-img { 
                display: none;
            }
            .card-text .question-container{
            @include flex(column); 
    
            .q-container{
                min-height: 200px;
                margin: 15px;
                margin-bottom: 0;
                padding-bottom: 0;
                width: 100%; 
                .q-item{
                    list-style: none; 
                    height: 40px;  
                    padding: 10px 10px 10px 10px;
                    border-bottom: solid 1px $border-color; 
                    cursor: pointer;
                    @include transition(0.4);
                    &:hover{    
                        padding-left: 20px;  
                        color: $red;
                        border-bottom: solid 1.5px $red;
                        
                        .q-answer{
                            max-width:65%;
                        }
                    }
                }
            }
            }
            
        } 
    }
    
}

//*** END Responsive ***//