@import 'variables';

#question {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .container{
        width: 75%; 
        padding: 25px;
        background-color: $light-white;
        font-family: "Lato",sans-serif;
        @include shadow-dark;
        @include border-radius(20px);
        .card{
            @include flex(row);
            .card-img{ 
                margin: 25px;
                img{
                    width: auto;
                    height: auto;
                    max-width: 320px;
                    max-height: 260px;
                }
            }
            .card-text{
                @include flex(column);
                justify-content: center;
                align-content: center;
                padding-bottom: 30px;
                span{
                    color: $green;
                    font-weight: bold;
                }
                h1{
                    align-items:center;
                    padding: 50px;
                    font-size: $size-xxlarge;
                    
                }
                .question-container{
                    @include flex(row);
                    width: 100%;
                    line-height: 25px;

                    .q-container{
                        min-height: 200px;
                        margin: 15px;
                        margin-bottom: 0; 
                        width: 42%; 
                        .q-item{
                            list-style: none; 
                            height: 50px;  
                            margin: 10px 10px 10px 10px;
                            border-bottom: solid 1px $border-color; 
                            cursor: pointer;
                            @include transition(0.4);

                            .collapse{
                                position : absolute ; 
                                display : none ;  
                            }

                            &:hover{    
                                padding-left: 20px;  
                                color: $red;
                                border-bottom: solid 1.5px $red;
                                .q-answer{   
                                    width: auto; 
                                    max-width: 220px;
                                    min-height: 40px; 
                                    margin-top: 15px;
                                    margin-left: -30px;
                                    color: $dark-grey; 
                                    @include shadow-light;
                                    background-color: rgba($xxlight-grey,0.95);
                                    overflow: hidden;
                                    &:hover{ 
                                        display : none ;  
                                    }
                                }
                                .collapse{ 
                                    display : none ; 
                                }
                                .visible{ 
                                    display : block ;
                                }
                            }
                        }
                    }
                    
                } 
            }
        }
    }
}

@include responsive;